---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/base.css';
---

<BaseLayout>
    <hgroup>
        <h1>Credits</h1>
        <p>Credits for the assets used for this site, thank you very much!</p>
    </hgroup>
    <hr>
    <section>
        <p>Favicons from Celeste</p>
    </section>
</BaseLayout>