---
import '../styles/index.css';
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A way to play Celeste without seeing Celeste">
        <meta name="keywords" content="Celeste, Blind, Blinfolded, Dark">
        <title>Celeste in the Dark</title>
        <link href="/assets/images/nosight.ico" rel="icon">
    </head>
    <body>
        <main>
            <hgroup>
                <h1>Celeste in the Dark</h1>
                <p>Playing Celeste Without Seeing Celeste</p>
            </hgroup>
            <nav>
                <a href="information.html" id="information">Information</a>
                <a href="credits.html" id="credits">Credits</a>
            </nav>
            <nav>
                <a href="prologue.html">Prologue</a>
                <a href="city.html" >Forsaken City</a>
                <a href="site.html">Old Site</a>
                <a href="resort.html">Celestial Resort</a>
                <a href="ridge.html">Golden Ridge</a>
                <a href="temple.html">Mirror Temple</a>
                <a href="reflection.html">Reflection</a>
                <a href="summit.html">The Summit</a>
            </nav>
        </main>
    </body>
</html>