---
import BaseLayout from '../layouts/BaseLayout.astro';
import Room1 from '../assets/videos/prologue/room1.mp4';
import Room2 from '../assets/videos/prologue/room2.mp4';
import Room3 from '../assets/videos/prologue/room3.mp4';
import '../styles/base.css';
---

<BaseLayout title="Prologue">
    <hgroup>
        <h1>Prologue</h1>
        <p>The prologue is an excellent showcase for what playing Celeste without sight would "look" like.
            It is simple enough that anyone can get through this level with some very basic strategies
            while also having more "advanced" strats that serve as a nice introduction to techniques such as
            <a href="information.html#sound_cue">Sound Cues</a> and <a href="information.html#beat_counting">Beat Counting</a>
            <cite>(see <a href="information.html#glossary">Glossary</a>)</cite>.
        </p>
    </hgroup>
    <nav>
        <a href="#room_p_1">Room 1</a>
        <a href="#room_p_2">Room 2</a>
        <a href="#room_p_3">Room 3 & 4</a>
    </nav>
    <section id="room_p_1">
        <h2>Room 1</h2>
        <video controls width="1280" height="720">
            <source src={Room1}>
        </video>
        <h3>Strat Description</h3>
        <p>After the cutscene, <kbd>Hold Up</kbd> + <kbd>Hold Right</kbd> + <kbd>Hold Grab</kbd>. You can keep these held for the rest of the level. 
            <kbd>Full jump</kbd> on the sound cue of the 5th note in the song. <kbd>Full jump</kbd> when you hear the thud of the falling block.</p>
    </section>
    <section id="room_p_2">
        <h2>Room 2</h2>
        <video controls width="1280" height="720">
            <source src={Room2}>
        </video>
        <h3>Strat Description</h3>
        <p><kbd>Full jump</kbd> on the sound cue of the 3rd beat of the falling tune to get over the gap. You can time two <kbd>full jumps</kbd> with the 
            song to get up the wall faster. <kbd>Full jump</kbd> on the fading of the sound cue of the whoosh from the bird to get over the next gap. 
            You can time two more <kbd>full jumps </kbd>when the song resumes to get up the walls faster at the end of the room.</p>
    </section>
    <section id="room_p_3">
        <h2>Room 3 & 4</h2>
        <video controls width="1280" height="720">
            <source src={Room3}>
        </video>
        <h3>Strat Description</h3>
        <p>Once you get over the wall from the second room, you will hear no sound for a brief period to indicate that you are in the transition. 
            You can safely do two <kbd>full jumps</kbd> to climb to the cutscene. You can safely <kbd>skip</kbd> the cutscene when you here the landing of your second jump. 
            Once you hear the music shift, start counting the beats. <kbd>Jump</kbd> on the 6th beat and <kbd>Jump</kbd> slightly late on the 13th beat. 
            You can <kbd>skip</kbd> the cutscene starting from the 15th beat.</p>
    </section>
</BaseLayout>