---
import BaseLayout from '../layouts/BaseLayout.astro';
import Room from '../components/Room.astro';
import '../styles/base.css';
const chapter = "prologue";
---

<BaseLayout title="Prologue" icon="prologue">
    <hgroup>
        <h1>Prologue</h1>
        <p>The prologue is an excellent showcase for what playing Celeste without sight would "look" like.
            It is simple enough that anyone can get through this level with some very basic strategies
            while also having more "advanced" strats that serve as a nice introduction to techniques such as
            <a href="information.html#sound_cue">Sound Cues</a> and <a href="information.html#beat_counting">Beat Counting</a>
            <cite>(see <a href="information.html#glossary">Glossary</a>)</cite>.
        </p>
        <p>
            Expected completion time: 00:30-00:45
        </p>
        <p>
            Difficulty: 0/5
        </p>
    </hgroup>
    <chapter-nav>
        <h3>Checkpoints</h3>
        <nav>
            <details>
                <summary>Start</summary>
                <detail-anchor-wrapper>
                    <a href="#room_1_prologue">Room 1</a>
                    <a href="#room_2_prologue">Room 2</a>
                    <a href="#room_3_prologue">Room 3 & 4</a>
                </detail-anchor-wrapper>
            </details>  
        </nav>
    </chapter-nav>
    <Room title="Room 1" num="1" chapter={chapter} video="true">
        <p>After the cutscene, hold up + right + grab. Time a full jump using the sound cue of the 5th note in the song. 
        Time a full jump using the thud of the falling block.</p>
    </Room>
    <Room title="Room 2" num="2" chapter={chapter} video="true">
        <p> Time a full jump using the sound cue of the 3rd beat of the falling tune to get over the gap. 
            You can time two full jumps with the song to get up the wall faster.
            Time a full jump using the whoosh from the bird to get over the gap. 
            You can time two more full jumps when the melody resumes to get up the walls faster.</p>
    </Room>
    <Room title="Rooms 3 & 4" num="3" chapter={chapter} video="true">
        <p>Hearing no sound for a brief period indicates that you are in the transition. 
            You can safely do two full jumps to climb to the cutscene. 
            You can safely skip the cutscene when you hear the landing of your second jump. 
            Upon hearing the music shift, start beatcounting.
            Time jumps to the 6th and 13th beat. 
            You can safely skip the cutscene starting from the 15th beat.</p>
    </Room>
</BaseLayout>