<header>
    <logo-text><a href="/index.html">Celeste in the Dark</a></logo-text>
    <nav>
        <a href="/prologue.html">Prologue</a>
        <a href="/city.html" >Forsaken City</a>
        <a href="/site.html">Old Site</a>
        <a href="/resort.html">Celestial Resort</a>
        <a href="/ridge.html">Golden Ridge</a>
        <a href="/temple.html">Mirror Temple</a>
        <a href="/reflection.html">Reflection</a>
        <a href="/summit.html">The Summit</a>
    </nav>
    <hr>
</header>