---
const {title, num, chapter, video} = Astro.props;
const sectionID = "room_" + num + "_" + chapter;
const videoSrc = "/assets/videos/" + chapter + "/room" + num + ".mp4"
---

<a id={sectionID} class="offset-anchor"></a>
<section>
    <h2>{title}</h2>
    {video &&
        <video controls width="1280" height="720">
            <source src={videoSrc}>
        </video>
    }
    <h3>Strat Description</h3>
    <slot></slot>
</section>