---
import Header from '../components/Header.astro';
const {title, icon} = Astro.props;
const Favicon = '/'+icon+'.png';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href={Favicon} rel="icon">
		<title>{title}</title>
	</head>
	<body>
		<Header></Header>
		<main>
			<slot></slot>
		</main>
	</body>
</html>
